/* TABLE PATIENTS */
.page-content .content {
  margin-top: 40px;
}

.page-content table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.page-content table,
.page-content th,
.page-content td {
  border: #000 solid 1px;
}

.page-content th,
.page-content td {
  padding: 5px;
}

.coloumns-actions {
  text-align: center;
}
